In [2]:
from pymongo import MongoClient

# MongoDB 인스턴스에 연결
client = MongoClient('mongodb://localhost:27017/')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
db = client['example_db']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db')

In [4]:
collection = db['example_collection']
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'example_db'), 'example_collection')

In [12]:
example_document = {
    "name": "John", 
    "age": 30, 
    "city": "New York"
}
collection.insert_one(example_document)

InsertOneResult(ObjectId('65a77289350439dc9104deae'), acknowledged=True)

In [13]:
# collection.find()
for doc in collection.find():
    print(doc)

{'_id': ObjectId('65a77250350439dc9104deab'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65a77287350439dc9104deac'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65a77288350439dc9104dead'), 'name': 'John', 'age': 30, 'city': 'New York'}
{'_id': ObjectId('65a77289350439dc9104deae'), 'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
query = {"name": "John"}

for doc in collection.find(query):
    print(doc)

In [15]:
collection.update_one({"name": "John"}, {"$set": {"age": 31}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [17]:
collection.update_many({"name": "John"}, {"$set": {"age": 35}})

UpdateResult({'n': 4, 'nModified': 4, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [19]:
collection.delete_one({"name": "John"})

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

In [21]:
collection.delete_many({"name": "John"})

DeleteResult({'n': 3, 'ok': 1.0}, acknowledged=True)

In [23]:
db.drop_collection("example_collection")

{'nIndexesWas': 1, 'ns': 'example_db.example_collection', 'ok': 1.0}

In [24]:
client.drop_database("example_db")